<header class="dashboard-header">
  <div class="user-info">
    <img [src]="user.avatar" class="avatar" />
    <div>
      <h3>Hola, {{ user.name }}</h3>
      <span class="subtitle">Bienvenido de nuevo</span>
    </div>
  </div>

  <button class="notif-btn">
    🔔
    <span class="badge"></span>
  </button>
</header>

<section class="section">
  <div class="section-header d-flex align-items-center ">
    <h2 class="fw-bold  mx-2">Mis equipos</h2>
    <button class="add-card" type="button" [routerLink]="['/team']" aria-label="Crear o editar equipo">
      <span class="plus">+</span>
    </button>
  </div>

  <div class="carousel mt-2">
    <ng-container *ngFor="let team of teams">
      <app-team-card class="snap" [team]="team"></app-team-card>
    </ng-container>
  </div>
</section>

<section class="section">
  <app-next-games [games]="games"></app-next-games>
</section>

<section class="section">

  <div class="section-header d-flex align-items-center ">
    <h2 class="fw-bold  mx-2">Mis campeonatos</h2>
    <button class="add-card" type="button" [routerLink]="['/competition']" aria-label="Crear o editar equipo">
      <span class="plus">+</span>
    </button>
  </div>
  <div class="carousel mt-2">
    <ng-container *ngFor="let comp of competitions">
      <app-competition-card class="snap" [competition]="comp"></app-competition-card>
    </ng-container>
  </div>
</section>

<app-footer></app-footer>
